.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

@media (prefers-color-scheme: dark) {
  /* iOS top bar -> black */
  html {
    background-color: black;
  }
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: inherit;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4b5563;
}
