@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./styles/_fonts.scss");
@import url("./styles/scrollbar.scss");

* {
	box-sizing: border-box;
	transition: color ease-in-out 0.2s;
	transition: background-color ease-in-out 0.2s;
}

